/*
 * Copyright 2019 IS2T. All rights reserved.
 * For demonstration purpose only.
 * IS2T PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
 */
 
 
 /* Prevent recursive inclusion */

#ifndef __PLATFORM_QUALICATION_CONF_H
#define __PLATFORM_QUALICATION_CONF_H
#endif