# Properties
#
# Copyright 2020 MicroEJ Corp. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be found with this software.

############################################
#       Local test
# Uncomment and set the following properties
##########################################
#microej.testsuite.properties.testsuite.trace.ip=localhost
#microej.testsuite.properties.testsuite.trace.port=6666


############################################
#      Tests requirements
##########################################

# This property specified the Testsuite Platform we should use
# The value should be the path of the platform (the folder which contains the release.properties file)
# target.platform.dir=lpcxpresso_freertos-platform/source

# The path where the microejapp.o should be copied
# microej.testsuite.properties.deploy.dir.microejapp=lpcxpresso_freertos-bsp/Projects/platform/lib

# The path where we should find the build.bat and the run;bat script
# This property is required in order for build the testsuite.out file and running it.
# microej.testsuite.properties.external.scripts.dir=lpcxpresso_freertos-bsp/Projects/IAR/scripts

############################################
#      Tests to run
##########################################
test.run.includes.pattern=**/Test*.class
test.run.excludes.pattern=**/*$*.class


#####################################################
#      Some default values.
####################################################

# The revision of the fs-testsuite dependency, see the module.ivy file
testsuite.module.version=3.0.0

# The VM we should use to run the testsuite. Possible value S3 or MICROEJVM 
target.vm.name=MICROJVM

# The deploy tool to run after the build of the microejapp.o. This deploy script can be used to build the BSP project and link the bsp + microejapp.o to produce an .out file
microej.testsuite.properties.microejtool.deploy.name=deployToolExternalRun

# The deploy script to use. When the microejapp.o is built the launch which will execute this script. 
# The `deployInBSP.xml` script will copy the microejapp.o into the folder specified by the property `deploy.dir.microejapp`
microej.testsuite.properties.deploy.script=deployInBSP.xml

# Set the verbose or not. Possible value: true or false
# When the verbose is set to true, we harness will output the SOAR of S3 trace.
microej.testsuite.verbose=true

# The testuite timeout
microej.testsuite.timeout=600

# The number of time we'll retry a test if it fails
microej.testsuite.retry.count=1
# Retry a test unless this pattern is shown
microej.testsuite.retry.unless=VM START

# A jwm args to pass to the testsuite harness
microej.testsuite.jvmArgs=-Xmx768m

# A jvm args to pass to launch scripts forked vm
microej.testsuite.properties.launch.properties.jvm=-Xmx2048M

# The foundation jars used for the code coverage, useful only if the target.vm.name = S3
microej.testsuite.cc.jars.name.regex=fs-.*jar
