# Properties
#
# Copyright 2020 MicroEJ Corp. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be found with this software.

############################################
#       Local test
# Uncomment and set the following properties
##########################################
# TODO these options can be set in window > preferences 
# In case the output trace is redirected by 'Serial to Socket Transmitter' tool 
#microej.testsuite.properties.testsuite.trace.ip=localhost
#microej.testsuite.properties.testsuite.trace.port=5555

# In case the output trace is redirected by 'run.bat' or 'run.sh' script
launch.test.trace.file=SET

#microej.testsuite.properties.deploy.bsp.root.dir=C:\\Users\\user\\git\\P0001_Aruba-Platform\\lpcxpresso_freertos-bsp
#target.platform.dir=C:\\Users\\user\\git\\P0001_Aruba-Platform\\OM13098-MultiApp-CM4hardfp_IAR83-2.0.0\\source

############################################
# BSP Connection
##########################################

# Partial mode: enable build script execution
microej.testsuite.properties.deploy.bsp.microejscript=true

############################################
#      Tests to run
##########################################

# TODO document pattern
test.run.includes.pattern=**/Test*.class
# TODO document pattern
test.run.excludes.pattern=**/*$*.class

# The revision of the com.microej.pack.fs#fs-testsuite dependency, see the 'module.ivy' file
testsuite.module.version=3.0.0

#####################################################
#      Some default values.
####################################################



# The execution target (`MICROJVM` to execute on Device, `S3` to execute on Simulator)
target.vm.name=MICROJVM

# The deploy tool to run after the build of the microejapp.o. (defaults to 'Platform Configuration Additions')
microej.testsuite.properties.microejtool.deploy.name=deployToolBSPRun

# Set the verbose or not. Possible values: `true` or `false`
# When the verbose is set to true, we harness will output the SOAR of S3 trace.
microej.testsuite.verbose=true

# The testuite timeout (in seconds)
microej.testsuite.timeout=600

# The number of time we'll retry a test if it fails
microej.testsuite.retry.count=1
# Retry a test unless this pattern is shown
microej.testsuite.retry.unless=VM START

# A jwm args to pass to the testsuite harness
microej.testsuite.jvmArgs=-Xmx768m

# A jvm args to pass to launch scripts forked vm
microej.testsuite.properties.launch.properties.jvm=-Xmx2048M

# The foundation jars used for the code coverage, useful only if the target.vm.name = S3
microej.testsuite.cc.jars.name.regex=fs-.*jar
